body{
    color: blue;
    background-color: aqua;
    box-sizing: border-box ;
}

/* quee.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.qizil {
    border: 1px solid red;
}

#mesg {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

#helpblock {
    color: red;
    font-size: 11px;
    display: none;
    margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    button {
        width: 100%;
    }
}
